 <!-- sidebar-profile -->
<div class="col-md-3 sidebar-profile">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/account/dashboard" style="color:  #2D4558;">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/order">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/recipes">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/favorite">Favorites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/coupon">Coupons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/logout" style="color: #869FAE;">Logout</a>
        </li>
    </ul>
</div>