@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/profile.css">
<div class="container py-5">
    <div class="row align-items-start">
        <div>
            <h5>Account / DashBoard</h5>
        </div>
        @await Html.PartialAsync("_NavigationForProfile")
        <div class="col-md-1">
        </div>
        <!-- Main Content -->
        <div class="col-md-8 DashBoard-content mt-3">
            <div class="row">
                <div class="col-md-5 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Profile</h5>
                            <p class="card-text">Update your information</p>
                            <a href="/account/profile" class="btn btn-outline-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Need help?</h5>
                            <p class="card-text">Contact our support team</p>
                            <a href="#" class="btn btn-outline-primary">Go</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>