@using FoodieHub.MVC.Models.Authentication
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model ForgotPasswordDTO
<form asp-action="ForgotPassword" method="post" class="form bg-white py-4 px-5 rounded p-4">
    <h1>Forgot Password</h1>
    <div class="form-group my-5">
        <span asp-validation-for="Email" class="text-danger mb-1"></span>
        <div class="d-flex column-gap-4 justify-content-between align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <input asp-for="Email" class="w-100" type="text" placeholder="Enter your email">
        </div>
    </div>

    <button type="submit" class="button button-dark w-100">Send mail</button>

    <a href="/account/login" class="text-primary d-block mt-4 text-center ">Back to Login Now</a>
</form>

