@using FoodieHub.MVC.Models.Authentication


@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model ResetPasswordDTO
<form asp-action="ResetPassword" method="post" class="form bg-white py-4 px-5 rounded p-4">
    <h1>Reset Password</h1>
    <div class="form-group mt-5">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <div class="d-flex column-gap-4 justify-content-between align-items-center">
            <i class="fa-solid fa-lock"></i>
            <input asp-for="NewPassword" class="w-100" type="password" placeholder="Enter new password">
        </div>
    </div>
    <div class="form-group mt-4 mb-5">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="d-flex column-gap-4 justify-content-between align-items-center">
            <i class="fa-solid fa-lock"></i>
            <input asp-for="ConfirmPassword" class="w-100" type="password" placeholder="Enter confirm  password">
        </div>
    </div>
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Data" />
    <button type="submit" class="button button-dark w-100">Submit</button>

    <a href="/account/login" class="text-primary d-block mt-4 text-center ">Back to Login Now</a>
</form>

